

.game-header h1
{
  font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #BBBBBB;
  padding-right: 5px;
  padding-left: 5px;
}


.game-header a h1
{
  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #BBBBBB;
}

.two-column-stats{
  color: red;

 border-collapse: collapse;
 padding: 0;
 
}
th, td {
    padding: 0;
}



.two-column-stats {
    border-collapse: collapse;
    color: red;
    padding: 0;
}
th, td {
    padding: 0;
}
body {
    background-color: #f0f0f0;
    color: black;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
#game-navigation .current-date {
    padding: 0;
}
#left-column {
    margin-left: 1px;
}
.game-content h2 {
    font-size: 16px;
}
.game-content h2 {
    line-height: 18px;
}
.game-content table.two-column-stats th {
    width: 1%;
}
.game-content table.two-column-stats td {
    width: 1%;
}

.game-content table {
    margin-bottom: 1px;
    width: 1%;
}
.game-content th, .game-content td {
    padding: 1px 1px 1px 1px;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif; font-size: 12px;
    background-color: #F0F0F0;
}
  

