
/*
FOLLOW THIS FORMAT:

.my-first-selector,
.my-second-selector {
    - positioning and size
    - border styling
    - internal styling - padding etc.
    - typography
    - colors
    - display, opacity and special effects
}
*/

@font-face {
	font-family:verdana,helvetica,arial,sans-serif;
    font-weight: normal;
    font-style: normal;
}

body {
    color: black;
    font-family:verdana,helvetica,arial,sans-serif;
    background-color: #F8F8F8;
}


#header-logo {
   width: 1px;
}

.navigation {

    /* border styling */
    border: 1px solid;
    border-radius: 1px;
    /* internal styling - padding etc. */
    /* typography */
    font-size: 12px;
    font-weight: normal;
    text-align: left;
   

    /* colors */
   
}

.navigation a {
    text-decoration: none;
    color: #000;
}

.navigation a:hover  {
    color: #CCC;
}

#header-navigation div {

}

#header-navigation div:hover {
  
}

#account-container {
    font-size: 10px;
}

#account-header .account-image {
visibility:hidden;
}

#account-header
{

}

#account-header:hover
{
 
}

#account-header.selected
{

}

#account-details
{

}

#account-details .account-title
{

}

#account-details .alert a {

}

#account-details a:hover {


}

#account-details .account-summary {


}

#account-details .account-signout
{

}

#middle {


}

a {

    text-decoration: none;
}

a.highlighted {

}

a.info-link {
  
    font-size: 12px;
}

a:focus,
a:hover {
    color: #AAA;
}

h1,
h2,
h3 {
    font-weight: 100;
}

#footer {
    color: #4d5355;
    font-size: 10px;
}

.report-this {

}

.report-this:hover {

}

.reported-content {

}

.overlay
{
   

}

.overlay .close
{

}

.age-changes,
.lobby-panel,
.campaigns {
    /* border styling */
    border: 1px solid;
    /* internal styling - padding etc. */
    /* typography */
    /* colors */
    border-color: #555555;
    }

.lobby-panel h1 {
    font-size: 14px;
    line-height: 30px;
    color: #EBE8CD;
}

.lobby-panel h1 a:hover {
    color: #000;
}

lobby-panel th{
	font-size: 12px;
}

.divider {
/*    background-image: url(./images/divider.png);
    background-repeat: no-repeat;
    background-position: top center;
    */
    
}

.divider-small {
    /*background-image: url(./images/divider-small.png);
    background-repeat: no-repeat;
    background-position: top center;
    */
}

.divider:before{
	content: "---";
}

.divider-small:before{
	content: "---";
}


.lobby-panel table th {
    font-size: 12px;
}

.lobby-panel table td {
    font-size: 12px;
}

.lobby-panel h2 {
    font-size: 12px;
    line-height: 30px;
}

.age-changes h3,
.campaigns h3 {
    font-size: 18px;
    line-height: 24px;
}

.recruitment-campaigns h1,
.race-changes h1,
.trait-changes h1 {
    font-size: 40px;
    line-height: 45px;
}

.race-changes h2,
.trait-changes h2 {
    font-size: 30px;
}

.campaigns .basic-details .campaign-summary h2{
    font-size: 16px;
}

.campaigns .basic-details .campaign-summary .highlight-keyword{
    font-size: 22px;
}

/*
.good {
    color: #90ee90;
}

.bad {
    color: #EC7566;
}
*/

.message {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    /* border styling */
    border: 1px solid;
    border-radius: 8px;
    /* internal styling - padding etc. */
    /* typography */
}

.good.message
{
    color: #fefff7;

    /* colors */
    border-color: #feffea;
    background: #718d16; /* Old browsers */

}

.bad.message
{
    color: #FFFCF7;
    /* colors */
    border-color: #feffea;
    background: #521802; /* Old browsers */
}

.info.message
{
    color: #FFFCF7;

    /* colors */
    border-color: #feffea;
    background: #D09734; /* Old browsers */

}


/* User profile page
-------------------------------------------------------------- */

.lobby-panel .statement {
    background: url('./images/province_profile/scroll.png') no-repeat;
}

.lobby-panel .statement h2 {
    line-height: 14px;
}
/*
.advice-message {
    color: #a5d387;
}
*/
.warning {
    color: #e55700;
}

.error {
    color: #e55700;
}
#game-navigation div{
 font-size: 12px;
}

#game-navigation .current-date {

    padding: 11px 0px;
    /* border styling */
    border: 1px solid;
}

#game-navigation a {
    line-height: 0.6em;
}

#game-navigation a:hover {
 
}

#resource-bar
{
    /* border styling */
    border: 1px solid;
   

    /* typography */

    font-size: 12px;

   

    /* colors */
    border-color: #555555;
  
}

#resource-bar thead {
   
}

#resource-bar thead th {
    font-weight: normal;
}

#resource-bar tbody th,
#resource-bar tbody td{
    width: 98px;
    border-right: 1px inset #444444;
    border-bottom: 1px inset #444444;

    padding: 3px 6px 3px 6px;
    background: transparent;

    font-size: 11px;
    font-weight: lighter;
    text-align: right;
    color: #a9a9a9;

}

#resource-bar tbody th {
    font-size: 12px;
    font-weight: bolder;
}

#resource-bar thead th {
    width: 98px;
    border-right: 1px inset #141413;
    border-bottom: 1px inset #141413;
    background: transparent;
}


#resource-bar .positive {
    color: #8FA94A;
}

#resource-bar .negative {
    color: #d0aeae;
}

.game-content form,
.game-content h2 {
    border: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px;
    border-right: 1px;
    padding: 0px;
   
    margin-top: 18px;
    line-height: 30px;
    font-size: 16px;
    border-color: #181818;
}

.game-content h3 {
    font-size: 24px;
    color: #000;
}

.game-content form {
    font-size: 12px;
    font-weight: bolder;
}

.game-content form.no-visible-fields {
    width: auto;
    background: none;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

}

form ul.errorlist {
    color: #e26f80;
}

.game-content form.change-kingdom {
    /* typography */
    font-size: 14px;
}

.game-content form.change-kingdom .change-kingdom-heading {
    font-size: 14px;
    line-height: 24px;
}

.game-content form.change-kingdom .change-kingdom-form {
    font-size: 30px;
    color: #a9a9a9;

   
}

.game-content form.change-kingdom.change-kingdom-target {
    border: 0px;
    border-top: 1px solid;
    border-color: #555555;


}

input[type=text],
form textarea,
form input[type=text],
form input[type=password] {
    border-width: 1px;
    border-color: #d7d7d7;
    padding-left: 3px;

    font-size: 16px;
    text-align: left;
    color: #000;
    

}

form input[type=text],
form input[type=password] {
    height: 18px;
    font-size: 16px;
}

form .errorlist {
    font-size: 12px;
}

form input[type=submit],
.button-link {
    /* positioning and size */

    /* border styling */
    border: 1px solid;
    border-radius: 4px;

    /* internal styling - padding etc. */
    /* typography */
    
    font-size: 18px;
    font-weight: normal;
   

    /* colors */
    border-color: #7c551a;

}

form input[type=submit]:hover,
.button-link:hover {
    /* colors */
}

form input[type=submit]:active,
.button-link:active {
    /* colors */

}

div.selector span,
div.uploader span.filename,
div.uploader span.action
{
    padding-left: 5px;
    /* typography */
    font-size: 12px !important;
    font-weight: normal;
    text-align: left;
}
div.uploader span.filename,
div.uploader span.action
{
    font-size: 12px;
}

.game-content form table {
    border: 0px;
    border-top: 1px solid;
    border-color: #555555;
    margin-bottom: 10px;

    text-align: left;

}

.game-content form table thead th {
    height: 36px;

    
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
}

.game-content form tbody th {
    border-left: 1px ridge rgba(48, 48, 48, 0.4);
 
    font-size: 14px;

}

.game-content form tbody th:first-child {
    border-left: none;
}

.game-content form tbody td {
    padding-right: 18px;
    font-size: 12px;
    text-align: center;
}

.game-content form tbody tr {
    border: none;
}
.game-content form tbody tr:nth-child(even) {
    /* display, opacity and special effects*/
  /*  background: rgb(48, 48, 48);
    background: rgba(48, 48, 48, 0.1);
*/
}


.game-content form.change-kingdom #royal-commands {
    border-top: 1px dotted #000;
}

.game-content form.change-kingdom #royal-commands table {
    border-top: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.game-content form.change-kingdom #royal-commands table tbody td,
.game-content form.change-kingdom #royal-commands input[type=text] {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
}


.game-content form.change-kingdom #royal-commands .button-link {
    font-size: 14px;
    line-height: 18px;
}

/* KINGDOM NEWS */

.news-legend span.news-aid:before {
	content: "+: ";
/*    content: url(./images/kingdom_news/aid_inline.png);*/
}
.news-legend span.news-intra-kingdom-conflict:before {
    content: "$: ";
/*content: url(./images/kingdom_news/intra_kingdom_conflict_inline.png);*/
}
.news-legend span.news-actions-against-our-kingdom:before {
	content: "%: ";
/*    content: url(./images/kingdom_news/actions_against_our_kingdom_inline.png);*/
}
.news-legend span.news-actions-by-our-kingdom:before {
	content: "*: ";
/*    content: url(./images/kingdom_news/actions_by_our_kingdom_inline.png);*/
}
.news-legend span.news-dragon:before {
	content: "D: ";
/*    content: url(./images/kingdom_news/dragon_inline.png);*/
}
.news-legend span.news-obituaries:before {
	content: "O: ";
    /*content: url(./images/kingdom_news/obituaries_inline.png);*/
}
.news-legend span.news-relations:before {
	content: "R: ";
	/*url("http://spahrep.github.io//images/kingdom_news/relations.png");*/
}

.news-province-modification:before {
content: "M: ";
/*    content: url(./images/kingdom_news/province_modification_inline.png);*/
}

td.news-aid {
    /*background-image: url(./images/kingdom_news/aid.png);*/
}
td.news-intra-kingdom-conflict {
/*    background-image: url(./images/kingdom_news/intra_kingdom_conflict.png);*/
}
td.news-actions-against-our-kingdom {
/*    background-image: url(./images/kingdom_news/actions_against_our_kingdom.png);*/
}
td.news-actions-by-our-kingdom {
/*    background-image: url(./images/kingdom_news/actions_by_our_kingdom.png);*/
}
td.news-dragon {
/*    background-image: url(./images/kingdom_news/dragon.png);*/
}
td.news-obituaries {
/*    background-image: url(./images/kingdom_news/obituaries.png);*/
}
td.news-relations {
   /* background-image: url("./images/kingdom_news/relations.png");*/
}

td.news-province-modification {
/*    background-image: url(./images/kingdom_news/province_modification.png);*/
}
td.news-relations:before{
content: "R";
}
.news-province-modification:before {
content: "M: ";
}

td.news-aid:before {
content: "+";
}
td.news-intra-kingdom-conflict:before {
content: "$";
}
td.news-actions-against-our-kingdom:before {
content: "%";
}

td.news-actions-by-our-kingdom:before {
content: "*";
}
td.news-dragon:before {
content: "D";
}
td.news-obituaries:before {
content: "O";
}

/* KINGDOM DETAILS */
.unused-slot { color: #B0B0B0; }
.protected { color: #00CC66;}
.intel-fresh { color: #99ffbb; }
.monarch,
.at-war,
.intel-rotten { color: #F28585; }
.chamberlain,
.intel-stale { color: #FFC583; }
.you { font-weight: bold; }
.slot-number { font-size: 0.8em; color: #B0B0B0; }

.provinces-legend {
    font-size: 0.8em;
}

.provinces-legend .invitations {

    font-size: 12px;
}

.dip-status
{
    color: #000;
}

.dip-status-NORMAL
{
    background-color: #01DF01;
}

.dip-status-UNFRIENDLY
{
    background-color: #FFBF00;
}

.dip-status-HOSTILE
{
    background-color:#FF4000;
    background-image: url(./images/hostile_meter/hostile_gradient.png);
    background-repeat:repeat-y;
}

.dip-status-WAR
{
    background-color: #FF0000;
}

.own-meter-value
{
    background-image: url(./images/hostile_meter/up.png);
}

.their-meter-value
{
    background-image: url(./images/hostile_meter/down.png);
}

.war-button-meter-value
{
    background-image: url(./images/hostile_meter/war.png);
}

#hostility-meter-example {
    background-image: url(./images/hostile_meter/example.png);
}

#id_taunt_top_image {
    color: white;
}

/* Province profile page
-------------------------------------------------------------- */

.province-flag .flagpole {
    background: url('./images/province_profile/flagpole.png') no-repeat;
}

.province-flag .flag-image .default-flag {
    background: url('./images/province_profile/default_flag.png') no-repeat;
}

.motto {
    background: url('./images/province_profile/scroll.png') no-repeat;
}


.game-header
{
    height: 30px;
    border-top: 1px solid #6b6348;
    border-bottom: 1px solid #6b6348;
    
}

.game-header h1
{
    height: 22px;
    margin: 0px 1px;
    padding: 6px 4px 1px 4px;
    font-size: 12px;
    color: #000;
}

.game-header a h1 {
    
}

.game-header a h1:hover
{  
    color: #CCC;
}

.game-content {
    border: 1px solid;

    /* border styling */
    border-radius: 1px;
    
    /* colors */
    border-color: #555555;
   
}




.game-content thead th {
    font-weight: normal;
    font-size: 16px;
}

.game-content tbody th {
    border-left: 1px ridge rgba(48, 48, 48, 0.4);
    font-size: 16px;
}

.game-content tbody th:first-child {
    border-left: none;
}

.game-content tbody td {
    padding-right: 18px;
}

.game-content tbody tr {
    border-bottom: 1px groove rgba(48, 48, 48, 0.4);
    border-top: 1px groove rgba(48, 48, 48, 0.4);

}

.game-content tbody tr:nth-child(even) {
    /* display, opacity and special effects*/
 /*   background: rgb(48, 48, 48);
    background: rgba(48, 48, 48, 0.6);
*/
}

.game-content tbody tr.sub-total {
    background: none;
}
.game-content tr.sub-total td
{
    border-top: 1px solid #B9B9B9;
    padding-bottom: 25px;
}


.game-content table.schedule
{
    font-size:0.8em;
}


.two-digit-input {
    width: 50px;
	font-size: 16px !important;
	color: red ;
}
.three-digit-input {
    width: 55px;
}

.four-digit-input {
    width: 70px;
}

.five-digit-input {
    width: 85px;
}

.six-digit-input {
    width: 100px;
}

/* GAME PREFERENCES */
.game-content div.preference-box {
    background: rgb(86, 83, 74); /* Old browsers */
}

.game-content div.preference-box.disabled {
    opacity: 0.5;
}

.game-content table.applicant-view input[type="submit"],
.game-content table.mail-view input[type="submit"],
.game-content table.mail-view .button-link {
    font-size: 12px;
}

table.mail-view td.formatted-text {
    background: rgb(86, 83, 74); /* Old browsers */
   
}

div.wysiwyg {
    border: 1px solid #999;
    padding: 5px;
    background: rgb(209, 240, 255);
}

div.wysiwyg ul.toolbar li {
    background: url('./images/jquery.wysiwyg.gif') no-repeat -64px -80px;
    border: 1px outset #83817d;
}

body.wysiwyg {
    color: #000;
    font-size: 12px;
}


#bookmark-header:before {
  content: "BM+";
  margin-left: -10px ;
  font-size: 14px;
}



#royal-command-icon {
    background-image: url(./images/gold_crown.png);
    background-repeat: no-repeat;
    background-position: center 3px;
}

#royal-command-icon:hover {
    background-color: #494432;
}

.tablesorter th .order-icon {
    background-image: url(./images/order_none.png);
}

.tablesorter th.headerSortUp .order-icon {
    background-image: url(./images/order_asc.png);
}

.tablesorter th.headerSortDown .order-icon {
    background-image: url(./images/order_desc.png);
}

.campaign-meter-level div {
    border: 1px solid #789316;
}

.campaign-meter-level div.full {
    background-color: #789316;
}

.campaign-meter-level div.unknown {
    color: #789316;
}

.fails-criteria div {
    border: 1px solid #CD4331;
}

.fails-criteria div.full {
    background-color: #CD4331;
}

.recruitment-header .rank-bar,
.campaigns .rank-bar {
    background-color: #867721;
}

.recruitment-header .selected-rank,
.campaigns .selected-rank {
    background-color: #E5C40F;
}

.campaigns .campaign-message-intro {
   
    font-weight: 200;
    color: white;
    font-size: 16px;
}

#uniform-id-orderby {
    background-position: left -38px;
    width: 296px;
}

#uniform-id-orderby span,
#uniform-id-orderby.focus span,
#uniform-id-orderby.hover span,
#uniform-id-orderby:hover span {
    font-size: 30px;
    background-position: right -38px;
}

td#inline-hostility-meter {
    text-align: left;
    text-shadow: none;
    font-weight: normal;
}

/**** Utools override ****/

#rescell1,  #rescell2,  #rescell3, #cellNotice{
color: black !important;
text-align:left !important;
background:#FFF !important;
color:#45ACF6 !important;
}
#href_tag, #but_tag {
background:#CCC !important;
color: #000;
border-color:#CCC !important;
padding:0px;
}

/***** Fixing Issues in Layout.css ***/
#header-navigation {
    position: relative;
    left: 0px;
    top: 2px;
}

#header-navigation div {
    float: left;
    margin: 0px 6px 0px 0px;
    cursor: pointer;
}

#throne-monarch-message, #throne-game-message  p,h2{
 margin: 0;
 padding: 0;
}

.game-content table.two-column-stats th {
    width: 10%;
    text-align: right;
    font-size: 12px;
}

.game-content table.two-column-stats td {
    width: 10%;
    text-align: left;
}



.game-content h3 {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}
.game-content form.change-kingdom .change-kingdom-nav {
    margin: 5px 0 4px 4px;
    display: inline-block;
}

.game-content form.change-kingdom .change-kingdom-nav a {
    display: inline-block;
    width: auto !important;

    padding: 3px;
    font-size: 12px;
    text-align: center;
}

.game-content p {
margin: 5px 5px 5px 5px !important;
}

#change-kingdom-button {
    display: inline-block;
    height: 30px;
    width: 40px;
	font-size: 16px !important;
}


/* MISC Stuff that needed to be at end of file because it was getting
 * botched up somewhere above
 */
.game-header h1:before{
	content: "| " !important;
}


.game-header h1:after{
	content: " |" !important;
}

.good{
	color: green;
}
.bad{
	color: #CC8080;
}
.advice-message {
	color: green;
}
.subtotal good{
	color: #green;
}

.reportable img{
	visibility:hidden;
	height: 1px;
	width: 1px;
}

#col_0, #col_1, #col_2, #col_3, #col_4, #col_5, #col_6{
  font-size: 12px;
}
#game-navigation .navigation {
    margin-bottom: 5px;
}
