

.game-header h1
{
  font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #BBBBBB;
  padding-right: 5px;
  padding-left: 5px;
}


.game-header a h1
{
  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #BBBBBB;
}

.two-column-stats{
  color: red;

 border-collapse: collapse;
}
th, td {
    padding: 0;
}

}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif; font-size: 12px;
    background-color: #F0F0F0;
}
  

